body{
    background-color: rgb(203, 255, 203);
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    width: 100px;
    height: 100px;

}
ul{
    text-align: center;
    justify-content: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background: rgb(240, 85, 85);
}